version: 2.1 # use CircleCI 2.0
jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    parallelism: 1
    environment:
      # Configure the JVM and Gradle to avoid OOM errors
      _JAVA_OPTIONS: "-Xmx3g"
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=4"

    working_directory: ~/circleci-demo # directory where steps will run

    docker: # run the steps with Docker
      - image: circleci/openjdk:8-jdk-stretch # ...with this image as the primary container; this is where all `steps` will run

    steps: # a collection of executable commands

      - checkout # check out source code to working directory

      - run:
          name: Setup NodeJS
          command: sudo curl -sL https://deb.nodesource.com/setup_10.x |  sudo bash -

      - restore_cache:
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - restore_cache:
          key: v1-gradle-cache-{{ checksum "build.gradle" }}

      - run:
          name: Enable execution for gradlew
          command: chmod +x gradlew

      - run:
          name: Gradle generate pom for Maven
          command: ./gradlew install

      - run:
          name: Maven download depedencies
          command: mvn -f build/poms/pom-default.xml dependency:go-offline

      - save_cache:
          paths:
            - ~/.gradle/wrapper
          key: v1-gradle-wrapper-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
      - save_cache:
          paths:
            - ~/.gradle/caches
          key: v1-gradle-cache-{{ checksum "build.gradle" }}

      - run:
          name: Run Gradle test
          command: ./gradlew test

      - store_test_results:
          path: build/test-results/test/

      - store_artifacts: # store the uberjar as an artifact
          path: build/libs/